[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClamR"]
	path = ClamR
	url = https://github.com/cran/ClamR
[submodule "GEOmap"]
	path = GEOmap
	url = https://github.com/cran/GEOmap
[submodule "PEIP"]
	path = PEIP
	url = https://github.com/cran/PEIP
[submodule "ProfessR"]
	path = ProfessR
	url = https://github.com/cran/ProfessR
[submodule "RFOC"]
	path = RFOC
	url = https://github.com/cran/RFOC
[submodule "RPMG"]
	path = RPMG
	url = https://github.com/cran/RPMG
[submodule "RSEIS"]
	path = RSEIS
	url = https://github.com/cran/RSEIS
[submodule "RTOMO"]
	path = RTOMO
	url = https://github.com/cran/RTOMO
[submodule "Rquake"]
	path = Rquake
	url = https://github.com/cran/Rquake
[submodule "geomapdata"]
	path = geomapdata
	url = https://github.com/cran/geomapdata
[submodule "geophys"]
	path = geophys
	url = https://github.com/cran/geophys
[submodule "zoeppritz"]
	path = zoeppritz
	url = https://github.com/cran/zoeppritz
